@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #282828;
}
li, a, button{
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    color: #7daea3;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding:  30px;
}
.nav_links li a {
    transition: 250ms ease 50ms;
}
.nav_links li a:hover {
    color: #D4BE98;
}

.centerPassword {
    display: flex;
    background-color: rgba(234,105,98,1);
    align-items: center;
    justify-content: center;
    height: 95vh;
    text-align: center;
    margin: 20px;
    padding: 0;
}
.centerPassword label {
    position: absolute;
    background-color: rgba(234,105,98,1);
    font-size: 70px;
    left: 20%;
    top: 30%;
}
.centerPassword input[type="password"] {
    background-color: #D4BE98;
    font-size: 70px;
    position: absolute;
    font-size: 30pt;
    padding: 10px;
    top: 32%;
    left: 50%;
}
.centerPassword button {
    position: absolute;
    left: 46%;
    top: 60%;
}

.center {
    text-align: center;
}

button {
    padding: 9px 25px;
    background-color: rgba(69,112,122,1);
    color: #D4BE98;
    cursor: pointer;
    transition: all .25s ease .05s;
}

button:hover {
    background-color: rgba(69,112,122,0.83);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #D4BE98;
}

.listOrganizer ul{

}

.logo {
    cursor: pointer;
    max-width: 80px;
    height: auto;
}